{
  "swagger": "2.0",
  "info": {
    "title": "Ding API",
    "description": "The Ding API is a Level 0 REST web service.  We have used the <a href=\"http://swagger.io\">swagger</a> standard to describe this service. As a result, we are able to provide this interactive documentation page. For further information, you may view the <a href=\"/api/description\">additional documentation</a>; read our <a href=\"/api/faq\">FAQ</a> or contact partnersupport@ding.com",
    "version": "V1"
  },
  "host": "api.dingconnect.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/V1/CancelTransfers": {
      "post": {
        "tags": [
          "V1"
        ],
        "summary": "CancelTransfers",
        "description": "*Attempt to cancel transfers with the submitted TransferIds*\n\nThe agent should call `ListTransferRecords` with an appropriate query to \nget a list of `TransferIds` that are available to cancel.\n\nNot all transfers can be cancelled. This method will return the `ProcessingState` of the transfer: if the\nstate is \"Cancelled\", then the transfer was successfully cancelled and any appropriate balance compensations\nwill have been applied to the agent account. If the state is anything else, then the transfer could not be\ncancelled.\n\nPlease see the documentation section on [batching](/Api/Description#batching).",
        "operationId": "CancelTransfers",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-Correlation-Id",
            "description": "Correlates HTTP requests between a client and server",
            "type": "String"
          },
          {
            "in": "body",
            "name": "cancellationRequests",
            "description": "An explicit list of records to cancel.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "x-ref": "#/definitions/CancellationRequest",
                "required": [
                  "BatchItemRef",
                  "TransferId"
                ],
                "type": "object",
                "properties": {
                  "TransferId": {
                    "x-ref": "#/definitions/TransferId",
                    "required": [
                      "TransferRef",
                      "DistributorRef"
                    ],
                    "type": "object",
                    "properties": {
                      "TransferRef": {
                        "description": "The unique identifier for the transfer within our system",
                        "type": "string"
                      },
                      "DistributorRef": {
                        "description": "The distributor's identifier for the transfer.",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  },
                  "BatchItemRef": {
                    "description": "A unique number for an item in an overall batched request",
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "x-ref": "#/definitions/CancelTransfersResponse",
              "required": [
                "Items",
                "ResultCode",
                "ErrorCodes"
              ],
              "type": "object",
              "properties": {
                "Items": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/TransferWithState",
                    "required": [
                      "TransferId",
                      "ProcessingState",
                      "BatchItemRef",
                      "ResultCode",
                      "ErrorCodes"
                    ],
                    "type": "object",
                    "properties": {
                      "TransferId": {
                        "x-ref": "#/definitions/TransferId",
                        "required": [
                          "TransferRef",
                          "DistributorRef"
                        ],
                        "type": "object",
                        "properties": {
                          "TransferRef": {
                            "description": "The unique identifier for the transfer within our system",
                            "type": "string"
                          },
                          "DistributorRef": {
                            "description": "The distributor's identifier for the transfer.",
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      },
                      "ProcessingState": {
                        "type": "string"
                      },
                      "BatchItemRef": {
                        "description": "Refers to the unique reference of the item in the batch request",
                        "type": "string"
                      },
                      "ResultCode": {
                        "format": "int32",
                        "description": "The individual result code for processing the batch item with the given BatchItemRef.",
                        "type": "integer"
                      },
                      "ErrorCodes": {
                        "description": "ErrorCodes (if any) for processing the batch item with the given BatchItemRef",
                        "type": "array",
                        "items": {
                          "x-ref": "#/definitions/Error",
                          "required": [
                            "Code"
                          ],
                          "type": "object",
                          "properties": {
                            "Code": {
                              "description": "The code that can be used to lookup the explanatory message associated with the error",
                              "type": "string"
                            },
                            "Context": {
                              "description": "API specific context as to the reason for the specific code",
                              "type": "string"
                            }
                          },
                          "additionalProperties": false
                        }
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "description": "",
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "x-ref": "#/definitions/IApiResponse",
              "required": [
                "ResultCode",
                "ErrorCodes"
              ],
              "type": "object",
              "properties": {
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "x-ref": "#/definitions/IApiResponse",
              "required": [
                "ResultCode",
                "ErrorCodes"
              ],
              "type": "object",
              "properties": {
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "x-ref": "#/definitions/IApiResponse",
              "required": [
                "ResultCode",
                "ErrorCodes"
              ],
              "type": "object",
              "properties": {
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "503": {
            "description": "ServiceUnavailable",
            "schema": {
              "x-ref": "#/definitions/IApiResponse",
              "required": [
                "ResultCode",
                "ErrorCodes"
              ],
              "type": "object",
              "properties": {
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "additionalProperties": false
            }
          }
        }
      }
    },
    "/api/V1/EstimatePrices": {
      "post": {
        "tags": [
          "V1"
        ],
        "summary": "EstimatePrices",
        "description": "*Estimate prices for send or receive values*\n\nBefore a transfer is attempted, it is impossible to know the exact value that an account will receive due to fluctuating foreign exchange rates, provider promotions and fees.\nThis API call will attempt to estimate, from the current prices in the products list, what receive value will result from a given send value or vice versa.\n\nPlease see the documentation section on [batching](/Api/Description#batching).\n\n### Input parameters\nIn each input, `SendValue` and `ReceiveValue` cannot both be non-zero.\n\nIf `ReceiveValue` is non-zero we will attempt to estimate the price that the customer would need to *send* (in the agent currency) in order to receive the given `ReceiveValue`.\n\nIf `SendValue` is non-zero (and `SendCurrencyIso` is null or empty) we will attempt to estimate what the customer would *receive* for the given `SendValue` (and send value would be interpreted as a value expressed in the agent currency).\n\nIf `SendValue` is non-zero and `SendCurrencyIso` is specified, we will attempt to estimate what the customer would *receive* for the given `SendValue/SendCurrencyIso`.  The agent\nshould contact Ding if he/she wishes to send in currencies other than the main currency of his/her account.",
        "operationId": "EstimatePrices",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-Correlation-Id",
            "description": "Correlates HTTP requests between a client and server",
            "type": "String"
          },
          {
            "in": "body",
            "name": "requestedEstimations",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "x-ref": "#/definitions/EstimationRequest",
                "required": [
                  "BatchItemRef",
                  "SkuCode"
                ],
                "type": "object",
                "properties": {
                  "SendValue": {
                    "format": "decimal",
                    "description": "Desired send value",
                    "type": "number"
                  },
                  "SendCurrencyIso": {
                    "description": "The currency of `SendValue`",
                    "type": "string"
                  },
                  "ReceiveValue": {
                    "format": "decimal",
                    "description": "Desired receive value",
                    "type": "number"
                  },
                  "SkuCode": {
                    "description": "Product to estimate a price for",
                    "type": "string"
                  },
                  "BatchItemRef": {
                    "description": "A unique reference for an item in a batched request.",
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "x-ref": "#/definitions/EstimatePricesResponse",
              "required": [
                "ResultCode",
                "ErrorCodes",
                "Items"
              ],
              "type": "object",
              "properties": {
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "Items": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/EstimatedPrice",
                    "required": [
                      "BatchItemRef",
                      "ResultCode",
                      "ErrorCodes"
                    ],
                    "type": "object",
                    "properties": {
                      "Price": {
                        "x-ref": "#/definitions/Price",
                        "required": [
                          "CustomerFee",
                          "DistributorFee",
                          "ReceiveValue",
                          "ReceiveCurrencyIso",
                          "ReceiveValueExcludingTax",
                          "SendValue",
                          "SendCurrencyIso"
                        ],
                        "type": "object",
                        "properties": {
                          "CustomerFee": {
                            "format": "decimal",
                            "description": "The fee that the distributor has asked us to collect from the customer",
                            "type": "number"
                          },
                          "DistributorFee": {
                            "format": "decimal",
                            "description": "The fee that Ding charges the distributor to fulfil the transfer",
                            "type": "number"
                          },
                          "ReceiveValue": {
                            "format": "decimal",
                            "description": "The estimated value that will be received by the target account, including any tax (if applicable).",
                            "type": "number"
                          },
                          "ReceiveCurrencyIso": {
                            "description": "The currency of the ReceiveValue and ReceiveValueExcludingTax fields",
                            "type": "string"
                          },
                          "ReceiveValueExcludingTax": {
                            "format": "decimal",
                            "description": "The estimated amount received into the account before Tax was added",
                            "type": "number"
                          },
                          "TaxRate": {
                            "format": "decimal",
                            "description": "The tax rate that was applied",
                            "type": "number"
                          },
                          "TaxName": {
                            "description": "The name of the tax applicable to this product",
                            "type": "string"
                          },
                          "TaxCalculation": {
                            "description": "The type of calculation that was done (can vary by country)",
                            "type": "string"
                          },
                          "SendValue": {
                            "format": "decimal",
                            "description": "The value that is submitted to SendTransfer",
                            "type": "number"
                          },
                          "SendCurrencyIso": {
                            "description": "The currency of the SendValue field",
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      },
                      "SkuCode": {
                        "description": "The product SkuCode that we estimated for.",
                        "type": "string"
                      },
                      "BatchItemRef": {
                        "description": "Refers to the unique reference of the item in the batch request",
                        "type": "string"
                      },
                      "ResultCode": {
                        "format": "int32",
                        "description": "The individual result code for processing the batch item with the given BatchItemRef.",
                        "type": "integer"
                      },
                      "ErrorCodes": {
                        "description": "ErrorCodes (if any) for processing the batch item with the given BatchItemRef",
                        "type": "array",
                        "items": {
                          "x-ref": "#/definitions/Error",
                          "required": [
                            "Code"
                          ],
                          "type": "object",
                          "properties": {
                            "Code": {
                              "description": "The code that can be used to lookup the explanatory message associated with the error",
                              "type": "string"
                            },
                            "Context": {
                              "description": "API specific context as to the reason for the specific code",
                              "type": "string"
                            }
                          },
                          "additionalProperties": false
                        }
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "x-ref": "#/definitions/IApiResponse",
              "required": [
                "ResultCode",
                "ErrorCodes"
              ],
              "type": "object",
              "properties": {
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "x-ref": "#/definitions/IApiResponse",
              "required": [
                "ResultCode",
                "ErrorCodes"
              ],
              "type": "object",
              "properties": {
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "x-ref": "#/definitions/IApiResponse",
              "required": [
                "ResultCode",
                "ErrorCodes"
              ],
              "type": "object",
              "properties": {
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "503": {
            "description": "ServiceUnavailable",
            "schema": {
              "x-ref": "#/definitions/IApiResponse",
              "required": [
                "ResultCode",
                "ErrorCodes"
              ],
              "type": "object",
              "properties": {
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "additionalProperties": false
            }
          }
        }
      }
    },
    "/api/V1/GetAccountLookup": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "GetAccountLookup",
        "description": "*Get providers and product information for a specific account number*\n\nReturns country, provider and region code details for the account number.  This information can be then be used as input parameters\nto `GetProducts`.\n\nPlease note, while `GetProducts` (and `GetProviders`) can also accept an `AccountNumber`, their behaviour when the system cannot match\nthe account number to a subset of products or providers is to return the entire list.  This could be a problem for consuming\nsystems if the entire list of products or providers is very large.\n\n`GetAccountLookup` behaves differently - if no matching provider/region information can be found, it will return an empty list. \n\nIn most cases it will return a single entry, but it is possible to return mulitple items.",
        "operationId": "GetAccountLookup",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "accountNumber",
            "description": "For phone number based products, the account number should be in international phone number format.",
            "type": "string",
            "default": ""
          },
          {
            "in": "header",
            "name": "X-Correlation-Id",
            "description": "Correlates HTTP requests between a client and server",
            "type": "String"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "x-ref": "#/definitions/GetAccountLookupResponse",
              "required": [
                "Items",
                "ResultCode",
                "ErrorCodes"
              ],
              "type": "object",
              "properties": {
                "CountryIso": {
                  "description": "The country of the account number",
                  "type": "string"
                },
                "AccountNumberNormalized": {
                  "description": "We attempt to normalize phone numbers following the public telecommunication numbering plan <a href=\"https://en.wikipedia.org/wiki/E.164\" target=\"_blank\">E.164</a>, if we succeed the normalized number will be returned in this field formatted as E164 without leading '+'",
                  "type": "string"
                },
                "Items": {
                  "description": "This will contain provider information associated to the account number. If we can succesfully lookup the account number \nthe list will contain the info for products associated to it.",
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/AccountLookup",
                    "required": [
                      "ProviderCode",
                      "RegionCode"
                    ],
                    "type": "object",
                    "properties": {
                      "ProviderCode": {
                        "description": "ProviderCode of the account provided",
                        "type": "string"
                      },
                      "RegionCode": {
                        "description": "RegioCode of the account provided",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "x-ref": "#/definitions/IApiResponse",
              "required": [
                "ResultCode",
                "ErrorCodes"
              ],
              "type": "object",
              "properties": {
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "x-ref": "#/definitions/IApiResponse",
              "required": [
                "ResultCode",
                "ErrorCodes"
              ],
              "type": "object",
              "properties": {
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "x-ref": "#/definitions/IApiResponse",
              "required": [
                "ResultCode",
                "ErrorCodes"
              ],
              "type": "object",
              "properties": {
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "503": {
            "description": "ServiceUnavailable",
            "schema": {
              "x-ref": "#/definitions/IApiResponse",
              "required": [
                "ResultCode",
                "ErrorCodes"
              ],
              "type": "object",
              "properties": {
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "additionalProperties": false
            }
          }
        }
      }
    },
    "/api/V1/GetBalance": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "GetBalance",
        "description": "*Get the current agent balance*\n\nReturns the current agent balance. This will include any commission-on-sale increments, but will not reflect any\ntransfers that are currently processing. \n\nFor Instant transfers, the balance is decremented after a successful interaction with the product provider.\nFor Batch transfers, the balance is decremented immediately, and will be refunded later in case of failure.",
        "operationId": "GetBalance",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-Correlation-Id",
            "description": "Correlates HTTP requests between a client and server",
            "type": "String"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "x-ref": "#/definitions/GetBalanceResponse",
              "required": [
                "Balance",
                "CurrencyIso",
                "ResultCode",
                "ErrorCodes"
              ],
              "type": "object",
              "properties": {
                "Balance": {
                  "format": "decimal",
                  "description": "The distributor's balance",
                  "type": "number"
                },
                "CurrencyIso": {
                  "type": "string"
                },
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "x-ref": "#/definitions/IApiResponse",
              "required": [
                "ResultCode",
                "ErrorCodes"
              ],
              "type": "object",
              "properties": {
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "x-ref": "#/definitions/IApiResponse",
              "required": [
                "ResultCode",
                "ErrorCodes"
              ],
              "type": "object",
              "properties": {
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "x-ref": "#/definitions/IApiResponse",
              "required": [
                "ResultCode",
                "ErrorCodes"
              ],
              "type": "object",
              "properties": {
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "503": {
            "description": "ServiceUnavailable",
            "schema": {
              "x-ref": "#/definitions/IApiResponse",
              "required": [
                "ResultCode",
                "ErrorCodes"
              ],
              "type": "object",
              "properties": {
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "additionalProperties": false
            }
          }
        }
      }
    },
    "/api/V1/GetCountries": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "GetCountries",
        "description": "*Get a list of supported countries*\n\nRetrieves a list of standard two letter country codes that the system supports, along with the country name in English.\n\nPlease see the documentation section on [reference data](/Api/Description#reference-data).\n\nWe use <a href=\"https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2\" target=\"_blank\">ISO 3166-1 alpha-2</a> for our country codes, with the exception of XG used for products that are available for all countries.",
        "operationId": "GetCountries",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-Correlation-Id",
            "description": "Correlates HTTP requests between a client and server",
            "type": "String"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "x-ref": "#/definitions/GetCountriesResponse",
              "required": [
                "ResultCode",
                "ErrorCodes",
                "Items"
              ],
              "type": "object",
              "properties": {
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "Items": {
                  "description": "The list of countries that our system is aware of.",
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Country",
                    "required": [
                      "CountryIso",
                      "CountryName",
                      "InternationalDialingInformation",
                      "RegionCodes"
                    ],
                    "type": "object",
                    "properties": {
                      "CountryIso": {
                        "description": "Alphabetic 2 character ISO country code",
                        "type": "string"
                      },
                      "CountryName": {
                        "description": "English country name",
                        "type": "string"
                      },
                      "InternationalDialingInformation": {
                        "description": "Phone number dialing information",
                        "type": "array",
                        "items": {
                          "x-ref": "#/definitions/InternationalDialingInfo",
                          "required": [
                            "Prefix",
                            "MinimumLength",
                            "MaximumLength"
                          ],
                          "type": "object",
                          "properties": {
                            "Prefix": {
                              "description": "The ITU International Subcriber Dialing prefix as defined in E.123 and E.164",
                              "type": "string"
                            },
                            "MinimumLength": {
                              "format": "int32",
                              "description": "The minimum length of a phone number, including the `Prefix`",
                              "type": "integer"
                            },
                            "MaximumLength": {
                              "format": "int32",
                              "description": "The maximum length of a phone number, including the `Prefix`",
                              "type": "integer"
                            }
                          },
                          "additionalProperties": false
                        }
                      },
                      "RegionCodes": {
                        "description": "Regions supported within the country",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "x-ref": "#/definitions/IApiResponse",
              "required": [
                "ResultCode",
                "ErrorCodes"
              ],
              "type": "object",
              "properties": {
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "x-ref": "#/definitions/IApiResponse",
              "required": [
                "ResultCode",
                "ErrorCodes"
              ],
              "type": "object",
              "properties": {
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "x-ref": "#/definitions/IApiResponse",
              "required": [
                "ResultCode",
                "ErrorCodes"
              ],
              "type": "object",
              "properties": {
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "503": {
            "description": "ServiceUnavailable",
            "schema": {
              "x-ref": "#/definitions/IApiResponse",
              "required": [
                "ResultCode",
                "ErrorCodes"
              ],
              "type": "object",
              "properties": {
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "additionalProperties": false
            }
          }
        }
      }
    },
    "/api/V1/GetCurrencies": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "GetCurrencies",
        "description": "*Get a list of supported currencies*\n\nRetrieves a list of standard three letter currency codes that the system supports, along with the currency name in English.\n\nPlease see the documentation section on [reference data](/Api/Description#reference-data).\n\nWe use <a href=\"https://en.wikipedia.org/wiki/ISO_4217\" target=\"_blank\">ISO 4217</a> for our currency codes.",
        "operationId": "GetCurrencies",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-Correlation-Id",
            "description": "Correlates HTTP requests between a client and server",
            "type": "String"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "x-ref": "#/definitions/GetCurrenciesResponse",
              "required": [
                "ResultCode",
                "ErrorCodes",
                "Items"
              ],
              "type": "object",
              "properties": {
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "Items": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Currency",
                    "required": [
                      "CurrencyIso",
                      "CurrencyName"
                    ],
                    "type": "object",
                    "properties": {
                      "CurrencyIso": {
                        "description": "Alphabetic 3 character ISO currency code",
                        "type": "string"
                      },
                      "CurrencyName": {
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "x-ref": "#/definitions/IApiResponse",
              "required": [
                "ResultCode",
                "ErrorCodes"
              ],
              "type": "object",
              "properties": {
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "x-ref": "#/definitions/IApiResponse",
              "required": [
                "ResultCode",
                "ErrorCodes"
              ],
              "type": "object",
              "properties": {
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "x-ref": "#/definitions/IApiResponse",
              "required": [
                "ResultCode",
                "ErrorCodes"
              ],
              "type": "object",
              "properties": {
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "503": {
            "description": "ServiceUnavailable",
            "schema": {
              "x-ref": "#/definitions/IApiResponse",
              "required": [
                "ResultCode",
                "ErrorCodes"
              ],
              "type": "object",
              "properties": {
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "additionalProperties": false
            }
          }
        }
      }
    },
    "/api/V1/GetErrorCodeDescriptions": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "GetErrorCodeDescriptions",
        "description": "*Get a list of error code descriptions*\n\nEvery API response can contain one or more ErrorCodes that indicate why a request failed. This API can be used to \nget a list of human readable errors that correspond to those ErrorCodes. These error messages are aimed at the\nagent and are not suitable for display to the end user/customer.\n\nNote that we will not remove ErrorCodes, but we reserve the right to add new ones.\n\nPlease see the documentation section on [responses](/Api/Description#responses).",
        "operationId": "GetErrorCodeDescriptions",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-Correlation-Id",
            "description": "Correlates HTTP requests between a client and server",
            "type": "String"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "x-ref": "#/definitions/GetErrorCodeDescriptionsResponse",
              "required": [
                "ResultCode",
                "ErrorCodes",
                "Items"
              ],
              "type": "object",
              "properties": {
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "Items": {
                  "description": "A list of ErrorCodes and their localized descriptions",
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/ErrorDescription",
                    "required": [
                      "Message",
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Message": {
                        "description": "Error description",
                        "type": "string"
                      },
                      "Code": {
                        "description": "The identifying error code that was returned in the response",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "x-ref": "#/definitions/IApiResponse",
              "required": [
                "ResultCode",
                "ErrorCodes"
              ],
              "type": "object",
              "properties": {
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "x-ref": "#/definitions/IApiResponse",
              "required": [
                "ResultCode",
                "ErrorCodes"
              ],
              "type": "object",
              "properties": {
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "x-ref": "#/definitions/IApiResponse",
              "required": [
                "ResultCode",
                "ErrorCodes"
              ],
              "type": "object",
              "properties": {
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "503": {
            "description": "ServiceUnavailable",
            "schema": {
              "x-ref": "#/definitions/IApiResponse",
              "required": [
                "ResultCode",
                "ErrorCodes"
              ],
              "type": "object",
              "properties": {
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "additionalProperties": false
            }
          }
        }
      }
    },
    "/api/V1/GetProductDescriptions": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "GetProductDescriptions",
        "description": "*Get localized strings for products*\n\nPlease see the documentation section on [localization](/Api/Description#localization).\n\nPlease see the documentation section on [querying](/Api/Description#querying).",
        "operationId": "GetProductDescriptions",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "languageCodes",
            "description": "Filter the list to product descriptions with the submitted language codes.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "skuCodes",
            "description": "Filter the list to descriptions for products with the submitted SkuCodes.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "in": "header",
            "name": "X-Correlation-Id",
            "description": "Correlates HTTP requests between a client and server",
            "type": "String"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "x-ref": "#/definitions/GetProductDescriptionsResponse",
              "required": [
                "ResultCode",
                "ErrorCodes",
                "Items"
              ],
              "type": "object",
              "properties": {
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "Items": {
                  "description": "A localized list of product descriptions.",
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/LocalizedProductDescription",
                    "required": [
                      "DisplayText",
                      "LocalizationKey",
                      "LanguageCode"
                    ],
                    "type": "object",
                    "properties": {
                      "DisplayText": {
                        "description": "A short description of the product.",
                        "type": "string"
                      },
                      "DescriptionMarkdown": {
                        "description": "A longer description of the product.",
                        "type": "string"
                      },
                      "ReadMoreMarkdown": {
                        "description": "More detailed infomation about the product.",
                        "type": "string"
                      },
                      "LocalizationKey": {
                        "type": "string"
                      },
                      "LanguageCode": {
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "x-ref": "#/definitions/IApiResponse",
              "required": [
                "ResultCode",
                "ErrorCodes"
              ],
              "type": "object",
              "properties": {
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "x-ref": "#/definitions/IApiResponse",
              "required": [
                "ResultCode",
                "ErrorCodes"
              ],
              "type": "object",
              "properties": {
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "x-ref": "#/definitions/IApiResponse",
              "required": [
                "ResultCode",
                "ErrorCodes"
              ],
              "type": "object",
              "properties": {
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "503": {
            "description": "ServiceUnavailable",
            "schema": {
              "x-ref": "#/definitions/IApiResponse",
              "required": [
                "ResultCode",
                "ErrorCodes"
              ],
              "type": "object",
              "properties": {
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "additionalProperties": false
            }
          }
        }
      }
    },
    "/api/V1/GetProducts": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "GetProducts",
        "description": "*Get a list of products that can be used in SendTransfer*\n\nThis API returns a list of available products that satisfy request criteria.\n\nPlease see the documentation section on [querying](/Api/Description#querying).\n\n#### Localization\nProducts have localized descriptions and you should call `GetProductDescriptions` to get the appropriate\nlocalizations.  See the section on [Localization](#localization) above.\n\n#### Setting Definitions\nSome providers require additional information to be submitted with transfer requests in the form of name-value\nsettings where the `Name` of the setting is defined by the provider and the `Value` is submitted with the request.\n\nIf a provider does require this, `SettingDefinitions` will be populated with the definition of those settings. The\n`Name` of each definition is used in transfer requests, and the Description will contain a hint as to what the\n`Value`s should contain.  \n\nThe `Name` must be used verbatim (including casing and any special characters) in the SendTransfer request.\n\nThe `Description` is unformatted and non-localized so is not appropriate for any customer facing UI elements.\nThis field is informational and targeted at the API agent/integrator.\n\n#### Commission Rate\nThe rate of commission that will be applied for selling this product (if applicable).\n\n#### Processing Mode\nProducts can be processed in real-time (`ProcessingMode=Instant`), or some time in the future (`ProcessingMode=Batch`).\n\n* **Instant:** We will attempt to process the transfer immediately. The response from `SendTransfer` will \ncontain a transfer record whose `ProcessingState` is one of `Completed` or `Failed`.\n* **Batch:** We will process the transfer later. The response from `SendTransfer` will contain a transfer \nrecord with a `ProcessingState` of `Submitted`. The agent should use `ListTransferRecords` to periodically \ncheck the status of the transfer.\n\n#### Redemption Mechanism\nSome products require further intervention from the end-user or agent before their benefit is realized.  For example, the user may\nneed to dial a number and enter a PIN that was returned in the receipt or the agent may need to complete other steps before the \nproduct can be sold.  \n\nThis property can contain the following values:\n\n* **Immediate:** The transfer requires no further action from the customer, and will be received immediately.\n\n* **ReadReceipt:** Further instructions for how to complete the transfer will be printed within the `ReceiptText` property and the end user should\nfollow those instructions. For example: PIN based products, or Long Distance Minutes.\n\n* **ReadAdditionalInformation:** Further instructions for how to complete or use the transfer are in the `AdditionalInformation` property of the Product\nand the agent will need to code their application to follow those instructions.  For example, a user may be required to submit their account number\nagainst one product (to \"register\" their phone number) before they may use other products\n\n#### Benefits\nEach product can convey a number of benefits on an account number, including account top up, data, bundles, sms, long distance credit, and so forth.\n\nCurrent benefits include the following: \n\n*  Mobile\n*  Minutes\n*  Data\n*  LongDistance\n*  Electricity\n*  TV\n*  Internet\n*  Utility\n*  Balance\n\nThe benefit list will be extended in time. To make your system robust, we recommend you implement your integration so that it can handle any benefit type.  \nAlternatively, you could routinely filter the product list to a list of benefits supported by your application.\n\n#### Validity Period\nSome transfers must be redeemed within a certain time-window by the user after purchase. `ValidityPeriodIso` communicates how long the user will\nhave to complete the transaction. For example, many PIN based products must be redeemed before the validity period elapses. \n\nWe use the ISO8601 duration format. For example, `P30D` is 30 days.\n\n#### UAT Number\nTransfers submitted using this number will be in test mode only. No balance will be deducted, but no\nprovider transaction will actually be performed.  \n\n#### Additional Information \nFrom time to time we will try to offer completely new or non-standard products to existing agents that\ncan only be redeemed using non-standard mechanisms/procedures. We will use this field to communicate any\ninformation that we think will help the agent integrate. \n\nThis field is unformatted, not localized and unsuitable for end-user display.\n\n### Price Properties\n#### Agent and Customer Fees\nThe `CustomerFee` is the amount (in the agent currency) that the agent has asked us to collect from the customer. We will subtract this from the `SendValue` before passing to the provider. \n\nThe `DistributorFee` is the amount (in agent currency) that Ding charges the agent to fulfil the transfer.  We will deduct this amount from the agent balance in addition to the `SendValue`.  \n\nFor example, if\n- SendValue = 10\n- CustomerFee = 1\n- DistributorFee = 2\nThen\n- SendValue - CustomerFee (= 9) will be passed to the Provider, and \n- SendValue + DistributorFee (= 12) will be deducted from the agent balance\n\n#### Tax Calculation\nCountries around the world have different ways of quoting Tax values.  `TaxCalculation` indicates how you should interpret the values in the other Tax fields. \n\nPossible values are:\n* Inclusive\n* Exclusive\n\nPlease see <a href=\"https://en.wikipedia.org/wiki/Tax_rate#Inclusive_and_exclusive\" target=\"_blank\">Tax Rates on Wikipedia</a> for an explanation of the values.\n\nIf the `TaxCalculation` field is left blank, then tax is handled by the provider.",
        "operationId": "GetProducts",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "countryIsos",
            "description": "Filter the list to products for countries with the given ISOs.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "providerCodes",
            "description": "Filter the list to products supplied by providers with the submitted provider codes.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "skuCodes",
            "description": "Filter the list to products with the submitted SkuCodes.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "benefits",
            "description": "Filter the list to products with the listed benefits.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "regionCodes",
            "description": "Filter the list to products in regions with the submitted regionCodes.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "accountNumber",
            "description": "Filter the list to products that are valid for the submitted account number. For phone number based products, the account number should be in international phone number format.",
            "type": "string",
            "default": ""
          },
          {
            "in": "header",
            "name": "X-Correlation-Id",
            "description": "Correlates HTTP requests between a client and server",
            "type": "String"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "x-ref": "#/definitions/GetProductsResponse",
              "required": [
                "ResultCode",
                "ErrorCodes",
                "Items"
              ],
              "type": "object",
              "properties": {
                "ResultCode": {
                  "format": "int32",
                  "type": "integer"
                },
                "ErrorCodes": {
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Error",
                    "required": [
                      "Code"
                    ],
                    "type": "object",
                    "properties": {
                      "Code": {
                        "description": "The code that can be used to lookup the explanatory message associated with the error",
                        "type": "string"
                      },
                      "Context": {
                        "description": "API specific context as to the reason for the specific code",
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "Items": {
                  "description": "A list of products that fulfil the submitted criteria.",
                  "type": "array",
                  "items": {
                    "x-ref": "#/definitions/Product",
                    "required": [
                      "ProviderCode",
                      "SkuCode",
                      "LocalizationKey",
                      "SettingDefinitions",
                      "Maximum",
                      "Minimum",
                      "CommissionRate",
                      "ProcessingMode",
                      "RedemptionMechanism",
                      "Benefits",
                      "UatNumber",
                      "DefaultDisplayText",
                      "RegionCode",
                      "PaymentTypes"
                    ],
                    "type": "object",
                    "properties": {
                      "ProviderCode": {
                        "description": "The provider of the product",
                        "type": "string"
                      },
                      "SkuCode": {
                        "description": "Unique code to be used in conjunction with `SendTransfer` (SKU: \"Stock Keeping Unit\").",
                        "type": "string"
                      },
                      "LocalizationKey": {
                        "description": "Key to be used in conjunction with `GetProductDescriptions`",
                        "type": "string"
                      },
                      "SettingDefinitions": {
                        "description": "Name/Value pairs that should be submitted during `SendTransfer`",
                        "type": "array",
                        "items": {
                          "x-ref": "#/definitions/SettingDefinition",
                          "required": [
                            "Name",
                            "Description",
                            "IsMandatory"
                          ],
                          "type": "object",
                          "properties": {
                            "Name": {
                              "description": "Setting name to use during SendTranfer",
                              "type": "string"
                            },
                            "Description": {
                              "description": "English explanation as to the purpose of the setting",
                              "type": "string"
                            },
                            "IsMandatory": {
                              "description": "Indicates if the setting must be submitted during `SendTransfer`",
                              "type": "boolean"
                            }
                          },
                          "additionalProperties": false
                        }
                      },
                      "Maximum": {
                        "x-ref": "#/definitions/Price",
                        "required": [
                          "CustomerFee",
                          "DistributorFee",
                          "ReceiveValue",
                          "ReceiveCurrencyIso",
                          "ReceiveValueExcludingTax",
                          "SendValue",
                          "SendCurrencyIso"
                        ],
                        "type": "object",
                        "properties": {
                          "CustomerFee": {
                            "format": "decimal",
                            "description": "The fee that the distributor has asked us to collect from the customer",
                            "type": "number"
                          },
                          "DistributorFee": {
                            "format": "decimal",
                            "description": "The fee that Ding charges the distributor to fulfil the transfer",
                            "type": "number"
                          },
                          "ReceiveValue": {
                            "format": "decimal",
                            "description": "The estimated value that will be received by the target account, including any tax (if applicable).",
                            "type": "number"
                          },
                          "ReceiveCurrencyIso": {
                            "description": "The currency of the ReceiveValue and ReceiveValueExcludingTax fields",
                            "type": "string"
                          },
                          "ReceiveValueExcludingTax": {
                            "format": "decimal",
                            "description": "The estimated amount received into the account before Tax was added",
                            "type": "number"
                          },
                          "TaxRate": {
                            "format": "decimal",
                            "description": "The tax rate that was applied",
                            "type": "number"
                          },
                          "TaxName": {
                            "description": "The name of the tax applicable to this product",
                            "type": "string"
                          },
                          "TaxCalculation": {
[...]
